@charset "utf-8";

@font-face {
    font-family: 'Rubik-Bold';
    src: url('../fonts/Rubik-Bold.eot');
    src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff'),
        url('../fonts/Rubik-Bold.ttf') format('truetype'),
        url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.eot');
    src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff'),
        url('../fonts/Rubik-Regular.ttf') format('truetype'),
        url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.eot');
    src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff'),
        url('../fonts/Rubik-Medium.ttf') format('truetype'),
        url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
html {
	font-size: 10px;
}
body {
	text-align: center;
	font-family: 'Rubik-Regular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #212121;
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 1.9rem;
}
a{
	text-decoration: none;
	color: #212121;
}
h1{
	font-size: 4.8rem;
	line-height: 5.7rem;
	font-family: "Rubik-Bold";
}
h3{
	font-size: 3.2rem;
	line-height: 3.8rem;
	font-family: 'Rubik-Medium';
	margin-bottom: 4rem;
}
h4{
	font-size: 2.4rem;
	line-height: 2.8rem;
	font-family: 'Rubik-Regular';
}
strong{
	font-family: "Rubik-Bold";
}
b{
	font-family: 'Rubik-Medium';
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: calc( 100vw - 4.8rem );
	max-width: 103.2rem;
	margin: 0px auto;
	text-align: left;
}
input::-webkit-input-placeholder {
	color: rgba(33, 33, 33, 0.4);;
}
input:-moz-placeholder {
	color: rgba(33, 33, 33, 0.4);;
}
[class^="-icon"], 
[class*="-icon"],
[class^="-illustration"], 
[class*="-illustration"]  {
	display: inline-block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../i/sprite.svg');
	background-size: contain;
}
.b-white-tile{
	display: inline-block;
	background: #FFFFFF;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	width: 100%;
	position: relative;
}
.green{
	color: #00963F;
}
.b-text{
	max-width: 59.2rem;
}
	.b-text h3{
		
	}
	.b-text h4{
		margin-bottom: 24px;
	}
	.b-text p{
		
	}
	.b-text a{
		color: #00963F;
		text-decoration: underline;
	}
	.b-text img{
		margin-top: 3.2rem;
		margin-bottom: 4rem;
		max-width: 100%;
	}
	.b-text ol{
		counter-reset: myCounter;
		margin-top: 2.4rem;
	}
	.b-text ol ul{
		color: rgba(33, 33, 33, 0.5);
	}
		.b-text ol > li{
		  list-style: none;
		  padding-left: 3.7rem;
		  line-height: 2rem;
		  margin-bottom: 2.4rem;
		}
		.b-text ol > li:before {
			position: absolute;
			left: 0;
			counter-increment: myCounter;
			content:counter(myCounter) ".";
			font-family: 'Rubik-Bold';
			display: inline-block;
			text-align: left;
			font-size: 1.6rem;
			line-height: 2rem;
			width: 2.2rem;
		}
	.b-text ul{
		margin-left: 4.9rem;
		margin-top: 1.6rem;
	}
		.b-text ul > li{
			list-style: none;
			margin-bottom: 2rem;
			line-height: 2rem;
		}
		.b-text ul > li:before {
			content:"-";
			display: inline-block;
			text-align: left;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-right: 0.5rem;
		}
.b-btn{
	font-family: 'Rubik-Medium';
	font-size: 1.4rem;
	line-height: 1.7rem;
	display: inline-block;
	text-transform: uppercase;
	padding: 1.6rem 2rem;
	min-width: 20rem;
	text-align: center;
	background: #FEDB31;
	border-radius: 6.8rem;
	overflow: hidden;
	position: relative;
	-webkit-transition: background 100ms ease-out;
	-o-transition: background 100ms ease-out;
	transition: background 100ms ease-out;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
}
.b-btn:hover{
	background: #F3C92E;
}

@media screen and (min-width: 768px){
	.sticky{
		position: -webkit-sticky;
	    position: sticky;
	    top: 2.4rem;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}
@media screen and (max-width: 767px) {
	html {
		font-size: calc(10px + 4 * (100vw - 375px) / 392);
	}
	.b-block{
		width: calc( 100vw - 3.2rem );
	}
	h1{
		font-size: 3.2rem;
		line-height: 3.8rem;
	}
	h3{
		font-size: 2.4rem;
		line-height: 2.8rem;
		margin-bottom: 2.4rem;
		max-width: 32rem;
		font-family: 'Rubik-Bold';
	}
	.b-center-mobile{
		text-align: center;
	}
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
	html {
		font-size: calc(6px + 4 * (100vw - 768px) / 312);
	}
	.b-block{
		width: calc( 100vw - 4.8rem );
	}
}
@media (min-width: 1024px){
	.b-text a:hover{
		text-decoration: none;
	}
}
@media (min-width: 1080px)  and (max-width: 1440px) {
	html {
		font-size: 10px;
	}
	.b-block{
	    width: calc( 100vw - 4.8rem );
	}
}
@media (min-width: 1440px) {
	html {
		font-size: calc(10px + 2 * (100vw - 1440px) / 480);
	}
}
@media (min-width: 1920px) {
	html {
		font-size: 12px;
	}
}