@charset "utf-8";
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b-btn{

}
.b-orange-btn{

}
	.b-orange-btn:hover{
		
	}


/* Header ––––––––––––––––––––––––––––––––––––––––––––– Header */
.b-header{
	background-color: #F2F2F2;
	font-size: 1.6rem;
}
	.b-grey-header{
		
	}
		.b-grey-header .b-block{

		}
			.b-logo{
				width: 10.1rem;
				height: 13rem;
				display: block;
				background-color: #FFF;
			}
				.b-logo img{
					margin-left: 1rem;
					margin-top: 1rem;
					width: 8.1rem;
					height: 11rem;
				}
			.b-city-btn{

			}
				.b-city-btn-icon{
					background-image: url('../i/sprite.svg#location');
					width: 100px;
					height: 100px;
				}
				.b-city-btn-text{

				}
				.b-city-btn-arrow{

				}
			.b-phone{

			}
				.b-phone-icon{

				}
			.b-header-right{

			}
				.b-personal-btn{

				}
					.b-personal-btn-icon{

					}
					.b-personal-btn-text{

					}
				.b-search-btn{

				}
					.b-search-btn-icon{

					}
					.b-search-btn-text{

					}
	.b-white-header{

	}
		.b-white-header .b-block{

		}
			ul.b-main-menu{

			}
				ul.b-main-menu li{

				}
					ul.b-main-menu li a{

					}
			.b-menu-btn{

			}
				.b-menu-btn-icon{

				}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
@media (min-width: 1024px)  and (max-width: 1440px) {
	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}
/* Header ––––––––––––––––––––––––––––––––––––––––––––– Header */


.b-main-slider{

}
	.b-main-slider .b-block{

	}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
@media (min-width: 1024px)  and (max-width: 1440px) {
	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}