@charset "utf-8";
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b-btn{

}
.b-orange-btn{

}
	.b-orange-btn:hover{
		
	}


/* Header ––––––––––––––––––––––––––––––––––––––––––––– Header */
.b-header{
	background-color: #F2F2F2;
	font-size: 1.4rem;
	line-height: 1.7rem;
}
	.b-grey-header{
		position: relative;
		z-index: 10;
	}
		.b-grey-header .b-block{
			height: 6.5rem;	
		}
			.b-grey-header .b-block *{
				display: inline-block;
				vertical-align: middle;
			}
			.b-logo{
				width: 10.1rem;
				height: 13rem;
				display: block;
				background-color: #FFF;
				margin-bottom: -6.5rem;
				margin-right: 2.4rem;
			}
				.b-logo img{
					margin-left: 1rem;
					margin-top: 1rem;
					width: 8.1rem;
					height: 11rem;
				}
			.b-city-btn{
				margin-right: 2.6rem;
			}
				.b-city-btn-icon{
					background-image: url('../i/sprite.svg#location');
					width: 1.3rem;
					height: 1.6rem;	
					margin-right: 0.8rem;
				}
				.b-city-btn-text{

				}
				.b-city-btn-arrow{

				}
			.b-phone{
				
			}
				.b-phone-icon{
					background-image: url('../i/sprite.svg#phone');
					width: 1.5rem;
					height: 1.5rem;	
					margin-right: 0.6rem;
				}
			.b-header-right{
				float: right;
				margin-top: 1rem;
			}
				.b-personal-btn{
					margin-right: 24px;
				}
					.b-personal-btn-icon{
						background-image: url('../i/sprite.svg#user');
						background-size: 2.4rem;
						width: 4.6rem;
						height: 4.6rem;	
						border: 1px solid rgba(0, 150, 63, 0.3);
						border-radius: 100px;
						margin-right: 0.8rem;
					}
					.b-personal-btn-text{

					}
				.b-search-btn{

				}
					.b-search-btn-icon{
						background-image: url('../i/sprite.svg#search');
						width: 2.4rem;
						height: 2.4rem;	
						margin-right: 0.4rem;
					}
					.b-search-btn-text{

					}
	.b-white-header{
		position: absolute;
		left: 0px;
		width: 100%;
	}
		.b-white-header .b-block{
			background-color: #FFF;
			height: 6.5rem;	
		}
			ul.b-main-menu{
				margin-left: 12.5rem;
			}
				ul.b-main-menu li{
					
				}
					ul.b-main-menu li a{
						text-transform: uppercase;
						font-family: "Rubik-Medium";
					}
			.b-menu-btn{

			}
				.b-menu-btn-icon{

				}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
@media (min-width: 1024px)  and (max-width: 1440px) {
	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}
/* Header ––––––––––––––––––––––––––––––––––––––––––––– Header */


.b-main-slider{
	height: 100px;
	background-color: #ccc;
}
	.b-slider-item{
		width: 100%;
		height: calc(100vh - 47px);
		max-height: 48rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;	
		padding: 40px 0;
	}
		.b-slider-item .b-block{
			height: 100%;
		}
			.b-slider-item-info{
				position: absolute;
				bottom: 0;
			}
				.b-slider-item-info h2{
					font-family: 'Rubik-Bold';
					font-size: 4.8rem;
					line-height: 4.8rem;
					color: #333333;
					display: block;
					max-width: 30.6rem;
					margin-bottom: 2.4rem;
				}
				.b-slider-item-text{
					font-family: 'Rubik-Regular';
					font-size: 1.6rem;
					line-height: 2.2rem;
					color: #333333;
					display: block;
					max-width: 41.6rem;
					margin-bottom: 3.2rem;
				}
				.b-btn{
					font-family: 'Rubik-Medium';
					font-size: 1.4rem;
					line-height: 1.7rem;
					color: #333333;
					display: inline-block;
					text-transform: uppercase;
					padding: 1.6rem;
					width: 20rem;
					text-align: center;
					background: #FEDB31;
					box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
					border-radius: 68px;
				}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
@media (min-width: 1024px)  and (max-width: 1440px) {
	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}