@charset "utf-8";
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.hide{
	display: none;
}
.b-btn-container{
	text-align: center;
}
.b-btn{
	font-family: 'Rubik-Medium';
	font-size: 1.4rem;
	line-height: 1.7rem;
	display: inline-block;
	text-transform: uppercase;
	padding: 1.6rem 2rem;
	min-width: 20rem;
	text-align: center;
	background: #FEDB31;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
	border-radius: 6.8rem;
}
.b-small-btn{
	font-family: 'Rubik-Medium';
	font-size: 1.4rem;
	line-height: 1.7rem;
	display: inline-block;
	text-transform: uppercase;
	padding: 0.8rem 1.6rem;
	min-width: 15.2rem;
	text-align: center;
	border: 1px solid #DADADA;
	border-radius: 6.8rem;
}
.rub-icon{
	width: 1.4rem;
	height: 1.4rem;
	background-image: url('../i/sprite.svg#ruble');
}
.b-orange-btn{

}
.b-green-link{
	font-family: "Rubik-Medium";
	text-transform: uppercase;
	color: #00963F;
	position: relative;
	padding-right: 0.9rem;
}
	.b-green-link:before{
		position: absolute;
		content: "s";
		font-size: 0px;
		width: 1.4rem;
		height: 2px;
		right: -1.4rem;
		opacity: 0.4;
		background-color: #00963F;
		top: 50%;
		margin-top: -2px;
		-webkit-transition: width 150ms ease-out, right 150ms ease-out;
		   -moz-transition: width 150ms ease-out, right 150ms ease-out;
		    -ms-transition: width 150ms ease-out, right 150ms ease-out;
		   	 -o-transition: width 150ms ease-out, right 150ms ease-out;
				transition: width 150ms ease-out, right 150ms ease-out;
	}
	.b-green-link .right-arrow-icon{
		position: absolute;
		right: -1.6rem;
		top: 50%;
		margin-top: -0.8rem;
		display: inline-block;
		vertical-align: middle;
		width: 0.8rem;
		height: 1.4rem;
		background-image: url('../i/sprite.svg#arrow-right-green');
		z-index: 1;
		-webkit-transition: right 150ms ease-out;
		   -moz-transition: right 150ms ease-out;
		    -ms-transition: right 150ms ease-out;
		   	 -o-transition: right 150ms ease-out;
				transition: right 150ms ease-out;
	}
.b-title-with-button{
	margin-bottom: 4rem;
}
	.b-title-with-button h3{
		margin-bottom: 0rem;
		display: inline-block;
		vertical-align: middle;
	}
	.b-title-with-button .b-small-btn{
		display: inline-block;
		vertical-align: middle;
		margin-left: 3.2rem;
	}
.b.grey,
.b.gray{
	background-color: #F2F2F2;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
/* Desktop */
@media (min-width: 1024px) {
	.b-small-btn{
		-webkit-transition: border-color 100ms ease-out;
		   -moz-transition: border-color 100ms ease-out;
		    -ms-transition: border-color 100ms ease-out;
		   	 -o-transition: border-color 100ms ease-out;
				transition: border-color 100ms ease-out;
	}
		.b-small-btn:hover{
			border-color: #212121;
		}
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}


/* Header ––––––––––––––––––––––––––––––––––––––––––––– Header */
.b-header{
	font-size: 1.4rem;
	line-height: 1.7rem;
	z-index: 1;
}
	.b-grey-header{
		position: relative;
		z-index: 10;
	}
		.b-header .b-block *{
			display: inline-block;
			vertical-align: middle;
		}
		.b-grey-header .b-block{
			height: 6.5rem;	
		}
			.b-logo{
				width: 10.1rem;
				height: 13rem;
				display: block;
				background-color: #FFF;
				margin-bottom: -6.5rem;
				margin-right: 2.4rem;
			}
				.b-logo img{
					margin-left: 1rem;
					margin-top: 1rem;
					width: 8.1rem;
					height: 11rem;
				}
			.b-city-btn{
				margin-right: 2.6rem;
			}
				.b-city-btn-icon{
					background-image: url('../i/sprite.svg#location');
					width: 1.3rem;
					height: 1.6rem;
					margin-right: 0.8rem;
					margin-top: -0.3rem;
				}
				.b-city-btn-text{

				}
				.b-city-btn-arrow{

				}
			.b-phone{
				
			}
				.b-phone-icon{
					background-image: url('../i/sprite.svg#phone');
					width: 1.5rem;
					height: 1.5rem;
					margin-right: 0.6rem;
					margin-top: -0.1rem;
				}
			.b-header-right{
				float: right;
				margin-top: 1rem;
			}
				.b-personal-btn{
					margin-right: 24px;
				}
					.b-personal-btn-icon{
						background-image: url('../i/sprite.svg#user');
						background-size: 2.4rem;
						width: 4.6rem;
						height: 4.6rem;	
						border: 1px solid rgba(0, 150, 63, 0.3);
						border-radius: 100px;
						margin-right: 0.8rem;
					}
					.b-personal-btn-text{

					}
				.b-search-btn{

				}
					.b-search-btn-icon,
					.b-search-icon{
						background-image: url('../i/sprite.svg#search');
						width: 2.4rem;
						height: 2.4rem;	
						margin-right: 0.4rem;
					}
					.b-search-btn-text{

					}
	.b-white-header{
		position: absolute;
		left: 0px;
		width: 100%;
	}
		.b-white-header .b-block{
			background-color: #FFF;
			height: 6.5rem;	
		}
			ul.b-main-menu{
				margin-top: 1.2rem;
				margin-left: 12.5rem;
				width: calc( 100% - 24.1rem );
			}
				ul.b-main-menu li{
					
				}
					ul.b-main-menu li a{
						padding: 1.2rem 0rem;
						text-transform: uppercase;
						font-family: "Rubik-Medium";
					}
			.b-menu-btn{
				margin-top: 1rem;
				float: right;
				margin-right: 2.2rem;
			}
				.b-menu-btn-icon{
					background-image: url('../i/sprite.svg#menu');
					background-size: 2.4rem 1.8rem;
					width: 4.6rem;
					height: 4.6rem;
				}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
/* Desktop */
@media (min-width: 1024px) {
	ul.b-main-menu li a{
		-webkit-transition: color 100ms ease-out;
		   -moz-transition: color 100ms ease-out;
		    -ms-transition: color 100ms ease-out;
		   	 -o-transition: color 100ms ease-out;
				transition: color 100ms ease-out;
	}
	ul.b-main-menu li a:hover{
		color: #00963F;
	}
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}
/* Header ––––––––––––––––––––––––––––––––––––––––––––– Header */

/* Navigation ––––––––––––––––––––––––––––––––––––––––– Navigation */
.b-navigation{

}
	.b-navigation .b-block{

	}
		.b-breadcrumbs{
			color: #A6A6A6;
			font-size: 0px;
			margin-bottom: 3.5rem;
		}
			.b-breadcrumbs li{
				margin-right: 4rem;
				display: inline-block;
				vertical-align: middle;
				margin-top: 109px;
				font-size: 1.4rem;
				line-height: 1.7rem;
				position: relative;
			}
				.b-breadcrumbs li a{

				}
					.b-breadcrumbs li a:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						top: 50%;
						margin-top: -1.1rem;
						right: -3rem;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-image: url('../i/sprite.svg#arrow-breadcrumbs');
						width: 2rem;
						height: 2rem;
					}
				.b-breadcrumbs li span{

				}
		.b-navigation h1{
			margin-bottom: 32px;
		}
/* Navigation ––––––––––––––––––––––––––––––––––––––––– Navigation */

/* Main slider ––––––––––––––––––––––––––––––––––––––––––––– Main slider */
.b-main-slider{
	/*height: 100px;*/
	/*background-color: #ccc;*/
	overflow: hidden;
	max-height: 48rem;
}
	.b-slider-item{
		height: 48rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;	
		padding: 4rem 0;
	}
		.b-slider-item .b-block{
			height: 100%;
		}
			.b-slider-item-info{
				position: absolute;
				bottom: 0;
			}
				.b-slider-item-info h2{
					font-family: 'Rubik-Bold';
					font-size: 4.8rem;
					line-height: 4.8rem;
					display: block;
					max-width: 30.6rem;
					margin-bottom: 2.4rem;
				}
				.b-slider-item-text{
					font-family: 'Rubik-Regular';
					font-size: 1.6rem;
					line-height: 2.2rem;
					display: block;
					max-width: 41.6rem;
					margin-bottom: 3.2rem;
				}
			.b-block.slick-arrow{
			    position: absolute;
			    height: 4.9rem;
			    z-index: 2;
			    bottom: 0;
			    left: 50%;
			    -webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			    -o-transform: translateX(-50%);
			    transform: translateX(-50%);
			}
			.arrow-left-icon,
			.arrow-right-icon{
				position: absolute;
				cursor: pointer;
				width: 4.9rem;
				height: 4.9rem;
				bottom: 4.0rem;
				background: #FFFFFF;
				border-radius: 4.5rem;
				background-size: 0.9rem 1.6rem;
				background-repeat: no-repeat;
				z-index: 1;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
			}
			.arrow-left-icon{
				right: 6.1rem;
			    background-position: 1.8rem 50%;
				background-image: url('../i/sprite.svg#arrow-left');
			}
			.arrow-right-icon{
				right: 0;
			    background-position: 2rem 50%;
				background-image: url('../i/sprite.svg#arrow-right');				
			}
/* Main slider ––––––––––––––––––––––––––––––––––––––––––––– Main slider */


/* Main illustrations ––––––––––––––––––––––––––––––––––––––––––––– Main illustrations */

.b-main-illustrations{
	padding: 8rem 0;
}
	.b-illustration-list{
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
		.b-illustration-item{

		}
			.b-illustration{
				height: 17rem;
				margin-bottom: 3.2rem;
			}
			.b-1-illustration{
				width: 23.4rem;
				background-image: url('../i/illustration.svg#1');
			}
			.b-2-illustration{
				width: 22rem;
				background-image: url('../i/illustration.svg#2');
			}
			.b-3-illustration{
				width: 23rem;
				background-image: url('../i/illustration.svg#3');
			}
			.b-illustration-text{
				font-family: 'Rubik-Regular';
				font-size: 1.6rem;
				line-height: 1.6rem;
				display: block;
				margin-bottom: 0.8rem;
			}
			.b-illustration-info{

			}
				.illustration-bold-num{
					font-family: 'Rubik-Bold';
					font-size: 3.2rem;
					line-height: 3.8rem;
				}
				.illustration-bold-text{
					font-family: 'Rubik-Bold';
					font-size: 1.6rem;
					line-height: 1.9rem;
					text-transform: uppercase;
				}

/* Main illustrations ––––––––––––––––––––––––––––––––––––––––––––– Main illustrations */


/* Popular offers ––––––––––––––––––––––––––––––––––––––––––––– Popular offers */

.b-popular-offers{
	background-color: #F2F2F2;
	padding: 4rem 0;
}
	.b-popular-offers-list{
		display: flex;
		justify-content: space-between;
	}
		.b-popular-offer-item{
			background-color: #fff;
			width: calc(100%/2 - 1.2rem);
			display: block;
		}
			.b-popular-offer-item-top{
				position: relative;
				height: 208px;
			}
				.b-popular-offer-item-img{
					width: 100%;
					height: 100%;
				}
				.b-popular-offer-item-type{
					position: absolute;
					border: 1px solid #fff;
					color: #fff;
					padding: 0.8rem;
					text-transform: uppercase;
					font-family: 'Rubik-Medium';
					font-size: 1.4rem;
					line-height: 1.7rem;
					right: 16px;
					top: 16px;
				}
			.b-popular-offer-item-bottom{
				padding: 1.6rem 1.6rem 3.2rem;
			}
				.b-popular-offer-item-name{
					font-family: 'Rubik-Regular';
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 3.2rem;
					max-width: 33rem;
				}
				.b-popular-offer-item .b-small-btn{
					-webkit-transition: background-color .1s, border-color .1s;
					-o-transition: background-color .1s, border-color .1s;
					transition: background-color .1s, border-color .1s;
				}
				.b-popular-offer-item:hover .b-small-btn{
					background-color: #FEDB31;
					border-color: transparent;
				}

/* Popular offers ––––––––––––––––––––––––––––––––––––––––––––– Popular offers */


/* Calc ––––––––––––––––––––––––––––––––––––––––––––– Calc */

.b-calc{
	padding-top: 80px;
	padding-bottom: 64px;
	position: relative;
	overflow: hidden;
}
.b-calc:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
	top: 46.3rem;
	left: 0;
	z-index: -1;
}
	.b-calc-with-tabs{

	}
	.b-calc-with-shadow{
		box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.08), 
					0px 0px 5px rgba(0, 0, 0, 0.2);
	}
		.b-calc-tab-list{
			font-family: 'Rubik-Regular';
			font-size: 2.4rem;
			line-height: 3.2rem;
			display: flex;
			justify-content: space-between;
		}
			.b-calc-tab-item{
				text-align: center;
				padding: 1.6rem;
				background-color: #F2F2F2;
				width: calc(100%/2);
			}
			.b-calc-tab-item:nth-child(1){
				box-shadow: inset -3px -3px 3px 0px rgba(0, 0, 0, 0.08);
			}
			.b-calc-tab-item:nth-child(2){
				box-shadow: inset 3px -3px 3px 0px rgba(0, 0, 0, 0.08);
			}
			.b-calc-tab-item.active{
				background-color: #fff;
				box-shadow: none;
			}
		.b-calc-form{
			background-color: #fff;
		}
			.b-calc-string{
				border-bottom: 1px solid #DADADA;
			}
				.b-block-calc{
					margin: 0 auto;
					width: 68rem;
				}
				.b-block-calc-sliders{
					padding: 6.1rem 0 3.2rem;
				}
					.b-calc-slider-block{
						
					}
						.b-calc-slider-block label {
							font-size: 2.4rem;
							line-height: 2.4rem;
							font-family: 'Rubik-Regular';
						}
						.b-calc-slider{
							display: flex;
							justify-content: space-between;
							align-items: center;
						}
							.b-slider-range{
								width: 41.6rem;
							}
							.b-calc-input-cont{
								position: relative;
							}
								.b-calc-input-cont input{
									width: 24rem;
									font-size: 2.4rem;
									line-height: 2.8rem;
									background-color: #F8F8F8;
									padding: 1rem 1.6rem;
									border: 1px solid #DADADA;
									box-sizing: border-box;
									border-radius: 38px;
								}
								.b-calc-input-rub{
									background-image: url('../i/sprite.svg#ruble');
									background-size: 1.2rem 1.9rem;
									background-repeat: no-repeat;
									background-position: calc(100% - 1.6rem) 50%;
								}
							.b-calc-input-month-cont:before{
								content: 'МЕС.';
								font-family: 'Rubik-Medium';
								position: absolute;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								-o-transform: translateY(-50%);
								transform: translateY(-50%);
								right: 1.6rem;
								font-size: 1.6rem;
								line-height: 1.9rem;
							}
				.b-tumbler-block{
					padding: 32px 0;
				}
					.b-tumbler-text{
						font-family: 'Rubik-Regular';
						font-size: 1.6rem;
						line-height: 1.9rem;
						color: rgba(33, 33, 33, 0.4);
						display: inline-block;
						vertical-align: top;
						cursor: pointer;
						user-select: none;
					}
					.b-tumbler-text-left{
						margin-right: 2.6rem;
					}
					.b-tumbler-text-right{
						margin-left: 3rem;
					}
					.b-tumbler-text.active{
						color: inherit;
					}
					.b-tumbler-item{
						width: 6.4rem;
						height: 3.6rem;
						display: inline-block;
						vertical-align: top;
						margin-top: 1px;
					}
					.b-tumbler-item input {
						position: absolute;
						z-index: -1;
						opacity: 0;
						margin: 10px 0 0 20px;
					}
					.b-tumbler {
						position: relative;
						cursor: pointer;
					}
					.b-tumbler:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 6.4rem;
						height: 3.6rem;
						border-radius: 30px;
						background-color: #F8F8F8;
						border: 1px solid #DADADA;
						box-sizing: border-box;
					}
					.b-tumbler:after {
						content: '';
						position: absolute;
						top: 0.4rem;
						left: 0.4rem;
						width: 2.8rem;
						height: 2.8rem;
						border: 1px solid #00963F;
						box-sizing: border-box;
						box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
						border-radius: 50px;
						background-color: #fff;
						-webkit-transition: left .2s;
						-o-transition: left .2s;
						transition: left .2s;
					}
					.b-tumbler-item input:checked + .b-tumbler:after {
						left: 3.2rem;
					}
				.b-calc-checkboxes{
					padding-top: 2.6rem;
					padding-bottom: 2.2rem;
				}
					.b-calc-checkbox-item input {
						position: absolute;
						z-index: -1;
						opacity: 0;
						margin: 1rem 0 0 2rem;
					}
					.b-checkbox-text {
						position: relative;
						padding-left: 3rem;
						margin-right: 1.2rem;
						cursor: pointer;
						display: inline-block;
					}
					.b-checkbox-text:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 2rem;
						height: 2rem;
						background-color: #FFF;
						border: 1px solid #00963F;
						box-sizing: border-box;
					}
					.b-checkbox-text:after {
						content: '';
						position: absolute;
						background-image: url('../i/sprite.svg#check');
						top: 0.5rem;
						left: 0.4rem;
						width: 1.25rem;
						height: 1rem;
						-webkit-transition: opacity .1s;
						-o-transition: opacity .1s;
						transition: opacity .1s;
						opacity: 0;
					}
					.b-calc-checkbox-item input:checked + .b-checkbox-text:after {
						opacity: 1;
					}
				.b-calc-text-block{
					padding-top: 1.6rem;
					padding-bottom: 4rem;
				}
					.b-calc-text{
						max-width: 50rem;
						font-size: 1.6rem;
						line-height: 1.9rem;
						margin-bottom: 3.2rem;
					}


/* Calc ––––––––––––––––––––––––––––––––––––––––––––– Calc */


/* Calc slider ––––––––––––––––––––––––––––––––––––––––––––– Calc slider */

.ui-slider-horizontal{
	height: 4px;
}
.ui-widget.ui-widget-content{
	border: unset;
	background: #E6E6E6;
	border-radius: 0;
}
.ui-widget.ui-widget-content:before{
	content: '';
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	position: absolute;
	width: 100%;
	height: 3rem;
}
.ui-widget-content .ui-state-default{
	border-radius: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #FFFFFF;
	border: 1px solid #00963F;
	box-sizing: border-box;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
.ui-slider-horizontal .ui-slider-range{
	background: #00963F;
	border-radius: 0
}

/* Calc slider ––––––––––––––––––––––––––––––––––––––––––––– Calc slider */


/* News –––––––––––––––––––––––––––––––––––––––––––– News */
.b-news-block{
	padding: 64px 0;
}
	.b-news .b-block{
		padding: 4rem 0rem;
	}
		.b-news .b-title-with-button{

		}
			.b-news h3{

			}
			.b-news .b-small-btn{

			}
		.b-news-list{
			display: flex;
		}
			.b-news{
				vertical-align: top;
				/*width: 32.8rem;*/
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
				margin-right: 2.4rem;
				padding: 1.6rem 1.6rem 10rem;
				z-index: 1;
				-webkit-transition: box-shadow .2s;
				-o-transition: box-shadow .2s;
				transition: box-shadow .2s;
			}
			.b-news:last-child{
				margin-right: 0rem;
			}
			.b-news:hover{
				box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
			}
				.b-news-date{
					color: rgba(0, 0, 0, 0.4);
					margin-bottom: 1.6rem;
					font-size: 1.6rem;
					line-height: 2.2rem;
				}
				.b-news-text{
					font-size: 1.6rem;
					line-height: 2.2rem;
				}
				.b-news .b-green-link{
					position: absolute;
					left: 16px;
					bottom: 33px;
				}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
/* Desktop */
@media (min-width: 1024px) {
	.b-news:hover .b-green-link:before{
		width: 3.7rem;
		right: -3.7rem;
	}
	.b-news:hover .b-green-link .right-arrow-icon{
		right: -3.9rem;
	}	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}
/* News –––––––––––––––––––––––––––––––––––––––––––– News */

/* Advantages –––––––––––––––––––––––––––––––––––––––––––– Advantages */

.b-adv-block{
	padding-top: 16px;
	padding-bottom: 76px;
}
	.b-adv-list{
		display: flex;
	}
		.b-adv{
			/*width: 32.8rem;*/
			margin-right: 2.4rem;
		    display: inline-flex;
		    flex-wrap: wrap;
		    align-content: space-between;
		}
		.b-adv:last-child{
			margin-right: 0;
		}
			.b-adv-illustration{
				height: 17rem;
				margin-bottom: 2.4rem;
			}
			.b-1-adv-illustration{
				width: 17.4rem;
				background-image: url('../i/illustration.svg#4');
			}
			.b-2-adv-illustration{
				width: 16.3rem;
				background-image: url('../i/illustration.svg#5');
			}
			.b-3-adv-illustration{
				width: 16rem;
				background-image: url('../i/illustration.svg#6');
			}
			.b-adv-title{
				max-width: 20rem;
				font-size: 2.4rem;
				line-height: 2.8rem;
				margin-bottom: 1.6rem;
			}
			.b-adv-text{
				font-size: 1.6rem;
				line-height: 2.2rem;
				margin-bottom: 2.4rem;
			}

/* Advantages –––––––––––––––––––––––––––––––––––––––––––– Advantages */


/* Commercial –––––––––––––––––––––––––––––––––––––––––––– Commercial */

.b-commercial-block{
	background-image: url('../i/cooperative-full.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6.6rem 0;
}
	.b-commercial-block .b-block{
		text-align: right;
	}
	.b-commercial-inner{
		width: 37.1rem;
		display: inline-block;
		text-align: left;
		margin-right: 8.8rem;
	}
		.b-commercial-inner h3{
			margin-bottom: 2.4rem;
		}
		.b-commercial-text{
			margin-bottom: 2rem;
			font-size: 1.6rem;
			line-height: 1.9rem;
		}
		.b-commercial-inner .b-btn{
			margin-top: 1.2rem;
		}
	
/* Commercial –––––––––––––––––––––––––––––––––––––––––––– Commercial */


/* Advices –––––––––––––––––––––––––––––––––––––––––––– Advices */
.b-advices{
	
}
	.b-advices .b-block{
		padding: 4rem 0rem;
	}
		.b-advices .b-title-with-button{

		}
			.b-advices h3{

			}
			.b-advices .b-small-btn{

			}
		.b-advice-list{
			display: flex;
		}
			.b-advice{
				display: inline-block;
				vertical-align: top;
				width: 100%;
				background-color: #FFF;
				margin-right: 2.4rem;
				position: relative;
			}
			.b-advice:last-child{
				margin-right: 0rem;
			}
				.b-advice .b-img{
					width: 100%;
					height: 20.6rem;
					background-position: 50% 50%;
					background-size: cover;
				}
				.b-advice-text{
					padding: 1.6rem 1.6rem 6.6rem;
					min-height: 21.2rem;
				}
					.b-advice h4{
						line-height: 130%;
					}
					.b-advice .b-green-link{
						position: absolute;
						left: 16px;
						bottom: 33px;
					}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
/* Desktop */
@media (min-width: 1024px) {
	.b-advice:hover .b-green-link:before{
		width: 3.7rem;
		right: -3.7rem;
	}
	.b-advice:hover .b-green-link .right-arrow-icon{
		right: -3.9rem;
	}	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}
/* Advices –––––––––––––––––––––––––––––––––––––––––––– Advices */


/* Rating ––––––––––––––––––––––––––––––––––––––––––––– Rating */
.b-rating{

}
	.b-rating .b-block{
		padding: 6.4rem 0rem;
		text-align: center;
	}
		.b-rating h3{
			margin-bottom: 1.6rem;
		}
		.b-rating p{
			margin-bottom: 2.4rem;
		}
		.b-stars{
			font-size: 0rem;
			line-height: 0rem;
		}
			.b-star{
				cursor: pointer;
			}
			.b-star-icon{
				background-image: url('../i/sprite.svg#star');	
				width: 5.4rem;
				height: 4rem;
			}
				.b-star-icon.selected{
					background-image: url('../i/sprite.svg#star-selected');	
				}
				.hover .b-star-icon.selected{
					background-image: url('../i/sprite.svg#star');	
				}
				.b-star-icon.highlight{
					background-image: url('../i/sprite.svg#star-filled') !important;	
				}
/* Rating ––––––––––––––––––––––––––––––––––––––––––––– Rating */

/* Content –––––––––––––––––––––––––––––––––––––––––––– Content */
.b-content{
	padding-bottom: 6.4rem;
}
	.b-content h3{

	}
	.b-left-block{
		width: 67.8rem;
		float: left;
	}
	.b-right-block{
		float: right;
		width: 32.8rem;
	}
/* Content –––––––––––––––––––––––––––––––––––––––––––– Content */

/* Payments ––––––––––––––––––––––––––––––––––––––––––– Payments */
.b-payments{
	margin-bottom: -5.4rem;
}
	.b-payment{
		margin-bottom: 6.4rem;
	}
		.b-payment .b-payment-img{
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			width: 16.4rem;
			margin-right: 10rem;
			height: 18.5rem;
			background-position: 0% 50%;
		}
		.b-payment-img-10{
			height: 16.5rem;
		}
		.b-payment-text{
			display: inline-block;
			vertical-align: middle;
		}
			.b-payment-text h4{
				margin-bottom: 2.4rem;
			}
			.b-payment-text p{

			}
			.b-payment-text a{

			}
/* Payments ––––––––––––––––––––––––––––––––––––––––––– Payments */


/* Cooperative ––––––––––––––––––––––––––––––––––––––––– Cooperative */
.b-cooperative-tile{
	height: 19.3rem;
	overflow: hidden;
	margin-bottom: 2.4rem;
}
.b-cooperative-tile:last-child{
	margin-bottom: 0rem;
}
	.b-cooperative-tile-title{
		position: absolute;
		left: 1.6rem;
		bottom: 1.6rem;
		text-transform: uppercase;
		line-height: 140%;
	}
	.b-cooperative-tile-img{
		position: absolute;
	}
	.b-man-illustration{
		background-image: url('../i/illustration.svg#11');
		width: 20.5rem;
		height: 30.6rem;
		top: 0rem;
		right: -2rem;
	}
	.b-doc-illustration{
		background-image: url('../i/illustration.svg#12');
		width: 26.8rem;
		height: 23.9rem;
		top: 0rem;
		right: -10rem;
	}
/* Desktop */
@media (min-width: 1024px) {
	.b-white-tile-img{
		-webkit-transition: right 150ms ease-out;
		   -moz-transition: right 150ms ease-out;
		    -ms-transition: right 150ms ease-out;
		   	 -o-transition: right 150ms ease-out;
				transition: right 150ms ease-out;
	}
	.b-white-tile:hover .b-man-illustration{
		right: -3rem;
	}
	.b-white-tile:hover .b-doc-illustration{
		right: -11rem;	
	}
}
/* Cooperative ––––––––––––––––––––––––––––––––––––––––– Cooperative */


/* Accordeon --––––––––––––––––––––––––––––––––––––––––– Accordeon */
.b-accordeon-list{

}
	.b-accordeon{
		position: relative;
		-webkit-transition: background-color 300ms ease-out;
		   -moz-transition: background-color 300ms ease-out;
		    -ms-transition: background-color 300ms ease-out;
		   	 -o-transition: background-color 300ms ease-out;
				transition: background-color 300ms ease-out;
	}
	.b-accordeon.opened{
		background-color: #F2F2F2;
	}
		.b-accordeon.opened:before{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 100%;
			height: 1px;
			left: 0px;
			top: -1px;
			background-color: #F2F2F2;
		}
		.b-accordeon.opened + .b-accordeon.opened:before{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 100%;
			height: 1px;
			left: 0px;
			top: -1px;
			-webkit-transition: background-color 300ms ease-out;
			   -moz-transition: background-color 300ms ease-out;
			    -ms-transition: background-color 300ms ease-out;
			   	 -o-transition: background-color 300ms ease-out;
					transition: background-color 300ms ease-out;
			background-color: #DADADA;
		}
		.b-accordeon-head{
			cursor: pointer;
			position: relative;
			padding: 2.4rem 0rem 2.4rem;
			border-bottom: 1px solid #DADADA;
			-webkit-transition: border-bottom 150ms 200ms ease-out;
			   -moz-transition: border-bottom 150ms 200ms ease-out;
			    -ms-transition: border-bottom 150ms 200ms ease-out;
			   	 -o-transition: border-bottom 150ms 200ms ease-out;
					transition: border-bottom 150ms 200ms ease-out;
		}
		.b-accordeon.opened .b-accordeon-head{
			-webkit-transition: border-bottom 100ms ease-out;
			   -moz-transition: border-bottom 100ms ease-out;
			    -ms-transition: border-bottom 100ms ease-out;
			   	 -o-transition: border-bottom 100ms ease-out;
					transition: border-bottom 100ms ease-out;
			border-bottom: 1px solid transparent;
		}
			.b-accordeon-head h4{
				
			}
			.b-accordeon-head .b-arrow-icon{
				position: absolute;
				right: 0rem;
				top: 1.9rem;
				width: 3.8rem;
				height: 3.8rem;
				border-radius: 100rem;
				background-color: #212121;
				background-image: url('../i/sprite.svg#accordeon-arrow');
				background-size: 1.2rem auto;
				background-position: 50% 55%;
				-webkit-transition: background-color 300ms ease-out;
				   -moz-transition: background-color 300ms ease-out;
				    -ms-transition: background-color 300ms ease-out;
				   	 -o-transition: background-color 300ms ease-out;
						transition: background-color 300ms ease-out;
			}
			.b-accordeon.opened .b-accordeon-head .b-arrow-icon{
				-webkit-transition: background-color 300ms ease-out;
				   -moz-transition: background-color 300ms ease-out;
				    -ms-transition: background-color 300ms ease-out;
				   	 -o-transition: background-color 300ms ease-out;
						transition: background-color 300ms ease-out;
				background-position: 50% 50%;
				background-color: #E6E6E6;
				background-size: 1.2rem auto;
				background-image: url('../i/sprite.svg#accordeon-arrow-opened');
			}
		.b-accordeon-body{
			display: none;
			padding: 0.8rem 0rem 4rem;
		}
/* Desktop */
@media (min-width: 1024px) {
	.b-accordeon-head:hover .b-arrow-icon{
		-webkit-transition: background-color 100ms ease-out;
		   -moz-transition: background-color 100ms ease-out;
		    -ms-transition: background-color 100ms ease-out;
		   	 -o-transition: background-color 100ms ease-out;
				transition: background-color 100ms ease-out;
		background-color: rgba(33, 33, 33, 0.8);
	}
	.b-accordeon-head:active .b-arrow-icon{
		-webkit-transition: background-color 50ms ease-out;
		   -moz-transition: background-color 50ms ease-out;
		    -ms-transition: background-color 50ms ease-out;
		   	 -o-transition: background-color 50ms ease-out;
				transition: background-color 50ms ease-out;
		background-color: rgba(33, 33, 33, 0.6);
	}
}
/* Accordeon --––––––––––––––––––––––––––––––––––––––––– Accordeon */


/* Documents --––––––––––––––––––––––––––––––––––––––––– Documents */
.b-documents{
	font-size: 0px;
	line-height: 0px;
	margin-bottom: -3.2rem;
}
	.b-document{
		display: inline-block;
		vertical-align: top;
		width: calc( (100% - 3.8rem * 2) / 3 );
		margin-right: 3.8rem;
		margin-bottom: 3.2rem;
	}
	.b-document:nth-child(3n){
		margin-right: 0rem;
	}
		.b-document-icon{
			background-image: url('../i/sprite.svg#document');
			width: 3.2rem;
			height: 3.2rem;
			display: inline-block;
			vertical-align: middle;
			margin-right: 2rem;
		}
		.b-document-text{
			width: calc( 100% - 5.2rem );
			display: inline-block;
			vertical-align: middle;
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
/* Desktop */
@media (min-width: 1024px) {
	.b-document-text{
		-webkit-transition: color 100ms ease-out;
		   -moz-transition: color 100ms ease-out;
		    -ms-transition: color 100ms ease-out;
		   	 -o-transition: color 100ms ease-out;
				transition: color 100ms ease-out;
	}
	.b-document:hover .b-document-text{
		color: #00963F;
	}
}
/* Documents --––––––––––––––––––––––––––––––––––––––––– Documents */


/* Footer ––––––––––––––––––––––––––––––––––––––––––––– Footer */
.b-footer{
	
}
	.b-footer .b-block{
		padding-top: 4rem;
		padding-bottom: 4.2rem;
	}
		ul.b-footer-menu{
			display: inline-block;
			vertical-align: top;
		}
			ul.b-footer-menu li{
				margin-bottom: 1.3rem;
			}
				ul.b-footer-menu li a{

				}
		.b-footer-info{
			display: inline-block;
			vertical-align: top;
		}
			.b-footer-search{
				position: relative;
			}
				.b-footer-search input[type="text"]{
					background: #FFFFFF;
					border: 1px solid #DADADA;
					box-sizing: border-box;
					border-radius: 100px;
					font-size: 1.4rem;
					line-height: 1.7rem;
					padding: 1rem 1.6rem;
					width: 32.8rem;
				}
				.b-footer-search .b-search-icon{
					font-size: 0px;
					border: 0px;
					position: absolute;
					right: 1.6rem;
					top: 0.7rem;
					margin-right: 0px;
				}
			.b-footer-contacts{
				margin-top: 2.6rem;
			}
			.b-footer-contacts span{
				display: inline-block;
				vertical-align: middle;
			}
				.b-footer-contacts .b-city-btn{
					margin-bottom: 1.3rem;
				}
					.b-footer-contacts .b-city-btn-icon{
						margin-right: 1.2rem;		
					}
				.b-phone-cont{

				}
					.b-footer-contacts .b-phone{
						margin-right: 1.6rem;
					}
						.b-footer-contacts .b-phone-icon{
							margin-right: 1rem;		
						}
			.b-footer-bottom{

			}
				.b-paraweb{

				}
					.b-paraweb-icon{
						background-image: url('../i/sprite.svg#paraweb');
						width: 12.7rem;
						height: 3rem;
						position: absolute;
						left: 0px;
					}
				ul.b-footer-soc{
					margin-top: 3.4rem;
				}
					ul.b-footer-soc li{
						float: left;
						margin-right: 1.2rem;
					}
						.b-soc{
							opacity: 0.5;
							width: 3rem;
							height: 3rem;
						}
						.b-soc.ok-icon{
							background-image: url('../i/sprite.svg#ok');
						}
						.b-soc.vk-icon{
							background-image: url('../i/sprite.svg#vk');
						}
						.b-soc.yt-icon{
							background-image: url('../i/sprite.svg#yt');
						}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
/* Desktop */
@media (min-width: 1024px) {
	ul.b-footer-menu li a{
		-webkit-transition: color 100ms ease-out;
		   -moz-transition: color 100ms ease-out;
		    -ms-transition: color 100ms ease-out;
		   	 -o-transition: color 100ms ease-out;
				transition: color 100ms ease-out;
	}
		ul.b-footer-menu li a:hover{
			color: rgba(33, 33, 33, 0.4);;
		}
	.b-soc{
		-webkit-transition: opacity 100ms ease-out;
		   -moz-transition: opacity 100ms ease-out;
		    -ms-transition: opacity 100ms ease-out;
		   	 -o-transition: opacity 100ms ease-out;
				transition: opacity 100ms ease-out;
	}
		.b-soc:hover{
			opacity: 1;
		}
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}
/* Footer ––––––––––––––––––––––––––––––––––––––––––––– Footer */





@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 767px) {
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}
@media (min-width: 1024px)  and (max-width: 1440px) {
	
}
@media (min-width: 1440px) {
	
}
@media (min-width: 1920px) {
	
}